[project]
name = "mcstatus-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.122.0",
    "mcstatus>=12.0.6",
    "uvicorn[standard]>=0.38.0",
]
